.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    height: 30px;
    width: 120px;
    
}

table, td {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 12px 15px;
    
    
}

#title, p {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
